<div class="container-fluid" id="content-holder">
  <div class="row" id="header">
    <div class="col">
      <button class="btn">Sign Up</button>
      <button class="btn">Sign In</button>
    </div>
  </div>
  <div class="row" id="seperator">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row" id="body">
    <div class="col">
      <span class="glyphicon glyphicon-star"></span>
      <h2>Info about the app</h2>
      <p>This will be an advertising paragraph</p>
    </div>
    <div class="col"></div>
    <div class="col">
      <h2>Info about the app</h2>
      <p>This will be an advertising paragraph</p>
    </div>
  </div>
</div>
