<div class="container-fluid" id="content-holder">
  <div class="row" id="header">
    <div class="col">
      <button (click)="signUp()" md-button>Sign Up</button>
      <button (click)="logIn()" md-button>Login</button>
    </div>
  </div>
  <div class="row" id="seperator">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row" id="body">
    <div class="col">
      <h2>Info about the app</h2>
      <p>This will be an advertising paragraph</p>
    </div>
    <div class="col"></div>
    <div class="col">
      <h2>Info about the app</h2>
      <p>This will be an advertising paragraph</p>
    </div>
  </div>
</div>
