/node_modules
npm-debug.log
.DS_Store
/*.env
.idea/**/*.*
/client/public/bundle.js
/client/node_modules/
src/app/
src/index.html
src/main.ts
src/styles.css
src/systemjs.config.extras.js
src/systemjs.config.js
src/tsconfig.json
