.shop-card {
  width: 400px;
}

.remove-btn {
  display: none;
}

.item-container:hover .remove-btn {
  display: inline-block;
  border: 1px solid transparent;
  background-color: #C0C0C0;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  font-size: 12px;
}

.line {
  text-decoration: line-through;
}
