<div>
  <md-card class="shop-card">
    <md-card-header>
      <md-card-title>
        <h3>Wish list</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div *ngFor="let item of uncompletedItems$ | async">
        <div class="item-container">
          <md-checkbox [(ngModel)]="item.checked" (change)="completeItem(item)">
            <div>
              <span>{{item.name}}</span>
              <button class="remove-btn" (click)="removeItem(item)">&#10006;</button>
            </div>
          </md-checkbox>
        </div>
      </div>
      <br>
      <md-input-container>
        <input class="wish-name"
               mdInput
               placeholder="item"
               #itemInput
               (keypress)="createItem($event,itemInput)"/>
      </md-input-container>
    </md-card-content>
    <div *ngFor="let item of completedItems$ | async">
      <div class="item-container">
        <md-checkbox [(ngModel)]="item.checked" (change)="completeItem(item)">
          <div>
            <span [class.line]="item.checked">{{item.name}}</span>
            <button class="remove-btn" type="reset" (click)="removeItem(item)">&#10006;</button>
          </div>
        </md-checkbox>
      </div>
    </div>
    <md-card-actions>
      <button md-button>CLEAR ALL</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  <div *ngIf="isLoading | async">loading</div>

</div>
