// Base flatUIColors Pallete
$wetAsphalt: #34495e;
$midnightBlue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$wisteria: #9b59b6;
$amethyst: #9b59b6;
$turquoise: #1abc9c;
$greenSea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$alizrin: #e74c3c;
$pomegranate: #c0392b;
$carrot: #e67e22;
$pumpkin: #d35400;
$sunFlower: #f1c40f;
$orange: #f39c12;

//Font Sizes
$standard: 1em;
$standardPlus: 1.2em;
$big: 1.5em;
$double: 2em;

// Shadow defs
$lightShadow: 0px 2px 10px -2px rgba(20,20,20,0.6);
