<div class="container-fluid">
  <form #pinPlaceForm="ngForm" (ngSubmit)="pinPlace()">
    <div class="form-group">
      <md-input-container>
        <input mdInput
               placeholder="name"
               required
               id="name"
               [(ngModel)]="model.name"
               class="form-control"
               name="name"
               #name="ngModel">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input mdInput
               placeholder="description"
               id="description"
               [(ngModel)]="model.description"
               name="description"
               class="form-control"
               #description="ngModel">
      </md-input-container>
    </div>
    <div class="form-group">
      <rl-tag-input
        class="form-control"
        [(ngModel)]="model.tags"
        [autocomplete]="true"
        [autocompleteItems]="['one','two','three']"
        [autocompleteMustMatch]="false"
        name="tags"
        placeholder="Add a tags"></rl-tag-input>
    </div>
    <button type="submit" md-raised-button>pin place</button>
  </form>
</div>
