<md-card class="pin-place-card">
  <md-card-content>
    <h3>Pin new place</h3>
    <section>
      <form #pinPlaceForm="ngForm" (ngSubmit)="pinPlace()">
        <md-input-container>
          <input placeholder="name"
                 required
                 id="name"
                 [(ngModel)]="model.name"
                 name="name"
                 #name="ngModel"
                 mdInput>
        </md-input-container>
        <section>
          <md-input-container>
            <input placeholder="description"
                   id="description"
                   [(ngModel)]="model.description"
                   name="description"
                   #description="ngModel"
                   mdInput>
          </md-input-container>
        </section>
        <section>
          <tag-input [(ngModel)]="model.tags"
                     name="tags"
                     placeholder="tag"></tag-input>
        </section>
        <button md-raised-button type="submit">pin place</button>
      </form>
    </section>
  </md-card-content>
</md-card>

<!--<div class="container-fluid">-->
<!--</div>-->
